<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <div class="sidenav-header-inner text-center">
                <img src="img/avatar-1.jpg" alt="person" class="img-fluid rounded-circle">
                <h2 class="h5 text-uppercase">Anderson Hardy</h2><span class="text-uppercase">Web Developer</span>
            </div>
            <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <div class="main-menu">
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li class="active"><a href="/Admin/Home/Index"> <i class="icon-home"></i><span>Trang chủ</span></a></li>
                <li>
                    <a href="#pages-nav-ht" data-toggle="collapse" aria-expanded="false">
                        <i class="icon-presentation"></i><span>Hệ Thống</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
                    </a>
                    <ul id="pages-nav-ht" class="collapse list-unstyled">
                        <li> <a href="/Admin/UserGroup/Index">Nhóm người dùng</a></li>
                        <li> <a href="/Admin/User/Index">Người dùng</a></li>
                    </ul>
                </li>
                <li>
<li>
                    <a href="#pages-nav-tt" data-toggle="collapse" aria-expanded="false">
                        <i class="icon-picture"></i><span>Tin Tức</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
                    </a>
                    <ul id="pages-nav-tt" class="collapse list-unstyled">
                        <li> <a href="/Admin/Category/Index">Danh Mục</a></li>
                        <li> <a href="/Admin/Content/Index">Tin Tức</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pages-nav-sp" data-toggle="collapse" aria-expanded="false">
                        <i class="icon-grid"></i><span>Sản Phẩm</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
                    </a>
                    <ul id="pages-nav-sp" class="collapse list-unstyled">
                        <li> <a href="/Admin/Product/Create">Thêm sản phẩm</a></li>
                        <li> <a href="/Admin/Product/Index">Sản Phẩm</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pages-nav-ql" data-toggle="collapse" aria-expanded="false">
                        <i class="icon-flask"></i><span>Quản lý chung</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
                    </a>
                    <ul id="pages-nav-ql" class="collapse list-unstyled">
                        <li> <a href="/Admin/About/Index">Giới thiệu</a></li>
                        <li> <a href="/Admin/Footer/Index">Footer</a></li>
                        <li> <a href="/Admin/Menu/Index">Menu</a></li>
                        <li> <a href="/Admin/Slide/Index">Slide</a></li>
                        <li> <a href="/Admin/Feedback/Index">Phản hồi</a></li>
                    </ul>
                </li>
                
    </div>
</nav>
